@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
@import url(normalice.css);

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
}

body {
    background-color: #f7f7f7;
    scroll-behavior: smooth;
}

button {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #11b8eb;
    font-size: 1vw;
    font-weight: 400;
    border-radius: 0.3vw;
    margin:10px;
}

button:hover {
    transform: scale(1.1);
}

li {
    list-style: none;
}

.estructura-pagina {
    display: grid;
    grid-template-areas:
        "banner"
        "alquileres"
        "mapa"
        "carrousel-imagenes"
        "acerca_de";
    grid-template-rows: 1fr;
    row-gap: 2vw;
}

.banner_main {
    grid-area: banner;
}

.contenedor-alquileres {
    grid-area: alquileres;
}

.mapa-contenido {
    grid-area: mapa;
}

.acerca-de {
    grid-area: acerca_de;
}

/** menu section **/

.menu {
    background: #fdfdfd;
    display: grid;
    padding: 1.2vw 2vw;
}

.menu-contenedor {
    display: grid;
    grid-template-areas: "titulo opciones enlaces_directos";
    justify-content: space-between;
    align-items: center;
}

.menu-titulo {
    grid-area: titulo;
    display: grid;
    align-items: center;
}

.menu-opciones {
    grid-area: enlaces_directos;
    display: flex;
    column-gap: 1vw;
    align-items: center;
}

.menu-navegacion {
    grid-area: opciones;
    display: grid;
    justify-content: center;
}

.titulo__menu {
    font-weight: bold;
    font-size: 1vw;
    color: #141111;
}

.menu-opciones li a {
    color: #141111;
}

.menu-opciones .menu__opcion,
.menu-opciones .menu__opcion i {
    font-size: 1.5vw;
    color: #141111;
}

.opciones-menu-navegacion {
    display: flex;
}

.opciones-menu-navegacion .menu-navegacion__opcion {
    padding: 0.5vw 3vw;
}

.opciones-menu-navegacion .menu-navegacion__opcion a {
    text-decoration: none;
    color: #141111;
}

.opciones-menu-navegacion .menu-navegacion__opcion a:hover {
    border-bottom: 1px solid #141111;
}

/** banner_main **/
.banner_main {
    background: url(../imagenes/apartamento-fondo.webp);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_main {
    position: relative;
}

.relative {
    position: inherit;
    bottom: 0;
    padding: 0;
}

.bg_white {
    background: #fffffff0;
    padding: 45px 20px 50px 20px;
    opacity: 0.90;
}

.banner_main .bg_white h1 {
    color: #141111;
    text-align: center;
    font-size: 70px;
    line-height: 84px;
    font-weight: 700;
    padding-bottom: 22px;
}

.banner_main .bg_white p {
    margin: 20px;
    color: #2d2d2d;
    text-align: justify;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 0px;
}

.banner_main .ban_btn {
    display: block;
    background: #fff;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 55px;
}

.ban_btn .carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none;
}

/*Contacto whatsapp*/
#floating-button {
    position: fixed;
    bottom: 45px;
    right: 40px;
    z-index: 100;
}

#chat-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;


}

#chat-circle:hover {
    transform: scale(1.1);
}

#chat-box {
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
    border-radius: 15px;
}

.chat-box-header {
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.chat-box-header h5 {
    margin: 0;
}

#chat-box-toggle {
    cursor: pointer;
}

.chat-box-body {
    padding: 10px;
}

.mensaje {
    margin: 10px;


}

.btn {
    padding: 5px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #25d366;
    border: none;
    cursor: pointer;
}

.btn-whatsapp {
    background-color: #25d366;
    height: 4vh;
    width: 10vw;
}

.btn-whatsapp:hover {
    background-color: #128c7e;
}

.fa-whatsapp {
    margin: 5px;
}

#chat-circle:before,
#chat-circle:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: onda 1.7s infinite;
}

#chat-circle:before {
    animation-delay: 1s;
}

#chat-circle:after {
    animation-delay: 1.3s;
}

#chat-circle img {
    position: relative;
    z-index: 2;
}


@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}


/*CONTENIDO CASA*/
.contenedor-alquileres {
    display: flex;
    column-gap: 2vw;
    row-gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-alquileres .btn-vermas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__vermas {
    text-decoration: none;
}

.top-right {
    background-color: rgb(40, 223, 40);
    position: absolute;
    top: 8px;
    width: 9vw;
    border-radius: 0.5vw;
    right: 0.5vw;
    font-size: 1.2vw;
}

.top-right2 {
    background-color: rgb(196, 8, 8);
    position: absolute;
    top: 8px;
    width: 9vw;
    border-radius: 0.5vw;
    right: 1.5vw;
    font-size: 1.2vw;
}

.contenedor-alquileres .casa {
    display: grid;
    grid-template-areas:
        "imagen"
        "informacion";
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    border-radius: 0.5vw;
    text-align: center;
    background-color: #ffffff;
    height: 70vh;
    box-shadow: 0px 0px 30px rgba(221, 221, 211, 0.3);
}

.contenedor-alquileres .casa .casa-imagen {
    grid-area: imagen;
}

.contenedor-alquileres .casa .casa-contenido {
    grid-area: informacion;
}

.contenedor-alquileres .casa .casa-contenido {
    display: grid;
    justify-items: center;
    padding: 0.5vw 1vw 1vw;
}

.contenedor-alquileres .casa-contenido .casa-info {
    display: flex;
    flex-direction: row;
    column-gap: 1.2vw;
    font-size: 1vw;
}

.contenedor-alquileres .casa-titulo {
    width: 25vw;
}

.contenedor-alquileres .casa-titulo .casa__titulo {
    font-size: 1.7vw;
    font-weight: 600;
}

.contenedor-alquileres .casa .casa-imagen img {
    max-height: 50vh;
    max-width: 80vw;
    width: 30vw;
    height: 40vh;
}

.casa-imagen {
    position: relative;
}

/* Modal */
.modal {
    display: none;
    /* POr defecto no se muestran en pantalla hasta que se abran */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal .modal-contenido {
    display: grid;
    height: 75vh;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 70vw;
    border-radius: 0.4vw;
    grid-template-areas:
        "cabecera"
        "cuerpo"
        "pie";
    grid-template-rows: 5vh auto 5vh;
}

.modal .modal-cabecera {
    grid-area: cabecera;
}

.modal .modal-cuerpo {
    grid-area: cuerpo;
    display: grid;
    grid-template-areas:
        "imagen contenido"
        "detalles detalles";
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
}

.modal-cuerpo .modal-detalles {
    grid-area: detalles;
    display: grid;
}

.modal-cuerpo .modal-detalles {
    display: flex;
    margin-left: 4.5vw;
}

.modal-cuerpo .modal-detalles .detalles {
    display: flex;
    padding: 0 1vw;
    flex-direction: row;
    column-gap: 2vw;
    font-size: 1vw;
}

.modal-cuerpo .modal-cuerpo-imagen {
    grid-area: imagen;
    display: flex;
    justify-content: center;
}

.modal-cuerpo .modal-cuerpo-imagen img {
    height: 40vh;
    width: auto;
}

.modal-cuerpo .modal-cuerpo-contenido {
    grid-area: contenido;
    display: grid;
    justify-content: start;
}

.modal-cuerpo .modal-cuerpo-contenido .descripcion-casa .descripcion-casa__texto {
    font-size: 1vw;
}

.modal-pie {
    grid-area: pie;
    display: grid;
    justify-content: end;
}

.modal__titulo {
    font-size: 2vw;
}

.modal__descripcion {
    color: #4e4e4e;
    font-size: 1.2vw;
}

/* The Close Button */
.btn-cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-cerrar-modal:hover,
.btn-cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*CONTENIDO DEL MAPA*/
.mapa-contenido {
    display: grid;
    justify-items: center;
    padding: 5vw;
}

.mapa-contenedor {
    display: grid;
    grid-template-areas:
        "informacion"
        "mapa";
    grid-template-columns: 1fr;
}

.mapa-contenedor .mapa {
    grid-area: mapa;
}

.mapa-contenedor .informacion-mapa {
    grid-area: informacion;
    display: grid;
    justify-content: center;
    height: 25vh;
    border: 1px solid transparent;
    background-color: #ffffff;
    justify-items: center;
    width: 70vw;
    align-items: center;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}

.informacion-mapa .informacion-contenedor {
    display: grid;
    grid-template-areas:
        "titulo imagen"
        "descripcion imagen";
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 3vw;
}

.informacion-titulo {
    grid-area: titulo;
}

.informacion-descripcion {
    grid-area: descripcion;
    text-align: center;
}

.informacion-imagen {
    grid-area: imagen;
}

.informacion-imagen i {
    font-size: 8vw;
}


.mapa-contenedor .informacion-mapa .informacion__titulo {
    text-align: center;
}

/*mapa*/
.mapa-contenido .mapa-contenedor .mapa {
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}


.acerca-de {
    display: grid;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.acerca-de .acerca-de-contenido {
    display: grid;
    padding: 5vw 10vw;
    text-align: center;
}

.carrousel-imagenes{
    grid-area: "carrousel-imagenes";
    display: grid;
    justify-content: center;
}

.carousel-container {
    width: 90vw;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: unset;
    transition: transform 0.3s ease-in-out;
    /* Agrega las propiedades flex específicas para navegadores más antiguos */
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  .slider img {
    object-fit: cover;
  }

  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  /*CONTENIDO LUGAR*/
 
.container-lugares-slider{
    background: #eee;
    display: flex;
    align-items:center;
    justify-content:center;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
  }
  
  
  .container-lugares{
    width:100%;
    padding: 10px 40px;
  }
  
  .container-lugares .swiper-container {
   height: 100%;
   width: 100%;
   overflow: hidden;
  }
  
  .container-lugares .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
   
  }
  
  .container-lugares .swiper-slide img{
    display: block;
     width: 100%;
     height: 180px;
     object-fit: cover;
     
  
  }
  .titulo__cartas{
    text-align:center;
    padding:10px;
    text-transform:uppercase;
  }
  .contenido-slider{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .contenido-slider .contenido-texto{
    width:auto;
    height: 30vh;
    margin:15px;
  }
  .contenido-texto p{
    font-size:17px;
    text-align:justify;
  }
  .boton-slider{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


/* FOOTER */
.footer-container {
    background-color: #edebed8c;
    display: flex;
    justify-content: space-around;
    padding: 2vw 3vw;
}

.footer-logo {

    width: 18vw;
    margin-left: 7rem;
}

.footer-logo h2 {
    font-size: 2vw;
}

.footer-logo p {
    font-size: 1vw;
    color: #6e6b6b;
    padding: 1.5rem 0rem;
    line-height: 2.1rem;
}

.footer-logo a {
    text-decoration: none;
}

.fa {
    background-color: var(--black);
    color: #ffffff;
    padding: .6rem;
    border-radius: .3rem;
}

.icons {
    margin: 0rem 1.5rem;
}

.footer-links {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
}

.footer-links ul a li {
    list-style-type: none;
    padding: 1rem 0rem;
}

.footer-links ul a {
    text-decoration: none;
    color: #6e6b6b;
}

.footer-contactus {
    width: 17vw;
}

.footer-contactus h2 {
    font-size: 2vw;
}

.footer-contactus button {
    font-size: 1vw;
    background: #e0e0e0;
    border: 1px solid transparent;
    border-radius: .4rem;
    color: black;
    margin-top: 1.6rem;
    cursor: pointer;
}

.footer-contactus button:hover {
    transform: scale(1.1);
}

.copywright-tag {
    background-color: lightgray;
    padding: 1.5rem;
    font-size: 1vw;
    text-align: center;
}

.redes {
    color: black;
}


@media(max-width: 986px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 800px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        width: 32vw;
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    .footer-links h3 {
        font-size: 2.4rem;
        margin: 1rem 0px;
    }

    .footer-contactus {
        width: 21vw;
        margin-top: 2.4rem;
        text-align: center;
    }

    .footer-contactus h2 {
        font-size: 2.5rem;
    }
}

  