@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
    scroll-behavior: smooth;
}

button {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #e0e0e0;
    font-size: 1vw;
    font-weight: 400;
    border-radius: 0.3vw;
}

li {
    list-style: none;
}

textarea{
    resize: none;
}

/** menu section **/

.menu {
    background: #fdfdfd;
    display: grid;
    padding: 1.2vw 2vw;
}

.menu-contenedor {
    display: grid;
    grid-template-areas: "titulo opciones enlaces_directos";
    justify-content: space-between;
    align-items: center;
}

.menu-titulo {
    grid-area: titulo;
    display: grid;
    align-items: center;
}

.menu-opciones {
    grid-area: enlaces_directos;
    display: flex;
    column-gap: 1vw;
    align-items: center;
}

.menu-navegacion {
    grid-area: opciones;
    display: grid;
    justify-content: center;
}

.titulo__menu {
    font-weight: bold;
    font-size: 1vw;
    color: #141111;
}

.menu-opciones li a {
    color: #141111;
}

.menu-opciones .menu__opcion,
.menu-opciones .menu__opcion i {
    font-size: 1.5vw;
    color: #141111;
}

.opciones-menu-navegacion {
    display: flex;
}

.opciones-menu-navegacion .menu-navegacion__opcion {
    padding: 0.5vw 3vw;
}

.opciones-menu-navegacion .menu-navegacion__opcion a {
    text-decoration: none;
    color: #141111;
}

.opciones-menu-navegacion .menu-navegacion__opcion a:hover {
    border-bottom: 1px solid #141111;
}


.estructura-pagina {
    display: grid;
    padding: 2vw;
}

.lista-alquileres {
    display: grid;
    row-gap: 5vh;
}


.lista-alquileres .casa {
    display: grid;
    grid-template-areas: "imagen informacion";
    border-radius: 0.5vw;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(221, 221, 211, 0.3);
}

.lista-alquileres .casa .casa-contenido {
    display: grid;
    column-gap: 2vw;
    justify-items: center;
    padding: 0.5vw 1vw 1vw;
    width: 75vw;
}

.lista-alquileres .casa .casa-imagen {
    display: flex;
    grid-area: imagen;
    position: relative;
}

.lista-alquileres .casa .casa-imagen .casa__imagen {
    height: 20vh;
    width: 15vw;
}

.top-right {
    background-color: rgb(43, 255, 43);
    position: absolute;
    top: 8px;
    width: 8vw;
    border-radius: 0.5vw;
    right: 1.9vw;
    font-size: 1vw;
}

.top-right2 {
    background-color: rgb(196, 8, 8);
    position: absolute;
    top: 8px;
    width: 8vw;
    border-radius: 0.5vw;
    right: 1.5vw;
    font-size: 1vw;
}

.lista-alquileres .casa .casa-contenido {
    grid-area: informacion;
    display: grid;
    grid-template-areas:
        "titulo boton"
        "info boton";
    column-gap: 2vw;
    justify-items: center;
    padding: 0.5vw 1vw 1vw;
    align-items: center;
    justify-content: space-between;
}

.lista-alquileres .casa-contenido .casa-titulo {
    grid-area: titulo;
}

.lista-alquileres .casa-contenido .casa-boton {
    grid-area: boton;
}

.lista-alquileres .casa-contenido .casa-info {
    grid-area: info;
    display: flex;
    flex-direction: row;
    column-gap: 1.2vw;
    font-size: 1vw;
}

.lista-alquileres .casa-boton-info a {
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    padding: 0.5vw;
    border-radius: 0.3vw;
    font-size: 1.1vw;
}

.editar-informacion-contenedor {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    padding: 2vw;
    position: fixed;
    border: #f2f2f2;
    background-color: #fff;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 30px rgba(221, 221, 211, 0.3);
    width: 30vw;
    height: auto;
}

.editar-informacion-datos .imagen-casa img {
    height: 20vh;
    width: auto;
}

.editar-informacion-botones {
    display: flex;
    column-gap: 1vw;
}

.editar-informacion-datos input, select {
    width: 10vw;
        padding: 0.5vw;
    margin-left: 0.5vw;
    border: transparent;
}

.editar-informacion-datos .descripcion-casa textarea {
    resize: none;
}

/* Modal */
.modal {
    display: none;
    /* POr defecto no se muestran en pantalla hasta que se abran */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-cerrar-modal:hover,
.btn-cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal .modal-contenido {
    display: grid;
    height: 75vh;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 80vw;
    border-radius: 0.4vw;
    grid-template-areas:
        "cabecera"
        "cuerpo"
        "pie";
}

.modal .modal-cabecera {
    grid-area: cabecera;
    display: grid;
    grid-template-areas: 
    "titulo boton";
    align-items: center;
}

.modal-cabecera-titulo{
    grid-area: titulo;
}


.modal-cabecera-boton{
    grid-area: boton;
}

.modal .modal-cuerpo {
    grid-area: cuerpo;
    display: grid;
    grid-template-areas:
        "imagen contenido";
    align-items: center;
    grid-template-columns: 30vw 50vw;
    justify-content: start;
    justify-items: center;
}

.modal-cuerpo .modal-cuerpo-contenido {
    grid-area: contenido;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vw;
    justify-content: start;
    /* background-color: #f2f1f6; */
    border-radius: 0.5vw;
    padding: 1vw;
}

.modal-cuerpo .modal-cuerpo-imagen {
    grid-area: imagen;
    display: flex;
    justify-content: center;
}

.modal-cuerpo .modal-cuerpo-imagen img {
    height: 35vh;
    width: auto;
}

.modal-cuerpo .modal-cuerpo-contenido .descripcion-casa .descripcion-casa__texto {
    font-size: 1vw;
}

.modal-pie {
    grid-area: pie;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    justify-content: end;
}

.modal__titulo {
    font-size: 2vw;
}

.modal__descripcion {
    color: #4e4e4e;
    font-size: 1.2vw;
}

.modal-cuerpo .modal-cuerpo-contenido input {
    padding: 0.5vw;
    margin-left: 0.5vw;
    width: 30vw;
}


.modal-cuerpo .modal-cuerpo-contenido .titulo-casa p {
    font-weight: bold;
}

.modal-cuerpo .modal-cuerpo-contenido {
    display: grid;
    grid-template-areas:
        "principal"
        "secundario"
        "terceario";
        row-gap: 1vw;
    grid-template-rows: auto;
}


.modal-cuerpo .modal-cuerpo-contenido .principal {
    grid-area: principal;
}

.modal-cuerpo .modal-cuerpo-contenido .secundario {
    display: flex;
    grid-area: secundario;
}


.modal-cuerpo .modal-cuerpo-contenido .terceario {
    grid-area: terceario;
}